.form{
    width: 600px;
    margin: 50px auto;
    height: 500px;
    padding: 20px;
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.form-group{
    margin: 10px 0;
  
}
.submit-form-btn{
    margin-top: 10px;
    background:#ff3f6c !important;
    border: 1px solid #ff3f6c !important;
}
